// 登录未用此模块，因为代码更新在util中

// 登录成功后返回session、cookie
// 将所需要的存储  wx.setStorageSync(key,value)

// 接下来需要的是本地的session管理
var saveSession = function(sessionId, sessionVa) {
  console.log("now save SessionId:" + sessionId);
  wx.getStorageSync("sessionKey", sessionId);
  wx.getStorageSync("sessionDate", Date.parse(Date));
  wx.getStorageSync("sessionValid", sessionVa)/*这里头一次储存session时出错，误做value值储存，为达到小程序端使用，故储存id 与 name*/
}
// 清除session
var removeLocalSession = function() {
  wx.removeStorageSync("sessionKey");
  wx.removeStorageSync("sessionDate");
  console.log("remove success!")
}

// 检查是否过期
var isCheckSessionTimeout = function() {
  var sessionid = wx.getStorageSync("sessionKey");
  if (sessionid == null || sessionid == undefined || sessionid == "") {
    console.log("sessionid is emprty!")
    return false
  } else {
    var sessionTime = wx.getStorageSync("sessionDate")
    var SESSION_TIME = wx.getStorageSync("sessionValid")
    var nowTimeStamp = Date.parse(Date);
    if (nowTimeStamp - sessionTime > SESSION_TIME) {
      removeLocalSession();
      return false;
    } else {
      return true
    }
  }

  // 重新获取session
  var isreGetSession = function(Login_url) {
    var sessionStatu = isCheckSessionTimeout();
    if (!sessionStatu) {
      wx.showModal({
        title: '',
        content: '登录过期，请重新登录',
        showCancel: false,
        cancelText: '',
        cancelColor: '',
        confirmText: '确认',
        confirmColor: 'red',
        success: function(res) {
          wx.redirectTo({
            url: Login_url,
            success: function(res) {},
            fail: function(res) {},
            complete: function(res) {},
          })
        },
        fail: function(res) {},
        complete: function(res) {},
      })
    }
  }
}

var hasPermission = function (haspermission,url) {
  if (haspermission) {
    wx.navigateTo({
      url: url
    })
  } else {
    // wx.showModal({
    //   title: '',
    //   content: '请先登录学号',
    //   showCancel: true,
    //   cancelText: '非本校生',
    //   cancelColor: 'red',
    //   confirmText: '前往登录',
    //   confirmColor: 'yellow',
    //   success: function (res) {
    //     if (res.confirm) {
    //       wx.navigateTo({
    //         url: '../login/login',
    //         success: function (res) {
    //           console.log("来到登录界面")
    //         },
    //         fail: function (res) { },
    //         complete: function (res) { },
    //       })
    //     }
    //   },
    //   fail: function (res) { },
    //   complete: function (res) { },
    // })
  }
}
